boto3==1.26.59
botocore==1.29.59
certifi==2020.6.20
chardet==4.0.0
dbus-python==1.2.16
distro==1.5.0
httplib2==0.18.1
idna==2.10
jmespath==1.0.1
lxml==4.9.2
olefile==0.46
pexpect==4.8.0
Pillow==8.1.2
pycurl==7.43.0.6
PyGObject==3.38.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
reportbug==7.10.3+deb11u1
reportlab==3.5.13
requests==2.25.1
s3transfer==0.6.0
six==1.12.0
urllib3==1.26.5
